    </main>
    <footer class="page-footer font-small fixed-bottom ">
        <div class="container mt-2 mb-2">
            <span class="nav-link" style = "color: white;">Actividad tercera entrega.</span>
        </div>
    </footer>
</body>

</html>