{{>header}}
	<h1>Registrar usuario</h1>
		<form action="" method="POST">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="CC">Documento de Identidad</label>
					<input type="text" class="form-control" placeholder="CC" name= "documento" required>
				</div>
				<div class="form-group col-md-6">
					<label for="inputNombre">Nombre</label>
					<input type="text" class="form-control" placeholder="Nombre" name="nombre" required>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="Correo">Correo</label>
					<input type="email" class="form-control" placeholder="Correo" name= "correo" required>
				</div>
				<div class="form-group col-md-6">
					<label for="telefono">Telefono</label>
					<input type="tel" class="form-control" placeholder="Telefono" name="telefono" required>
				</div>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-5"></div>
					<div class="col-1 align-center "> 
						<button type="submit" class="btn btn-primary" >Registrar</button>
					</div>
				</div>
			</div>
		</form>
        <h2> {{mostrar}}</h2> 
{{>footer}}